@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #09090b;
  color: #f4f4f5;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #18181b; 
}
::-webkit-scrollbar-thumb {
  background: #3f3f46; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b; 
}
